:root {
  --clr-primary-100: #5BA4A4FF;
  --clr-primary-200: #5CA5A5;
  --clr-neutral-100: hsl(180, 52%, 96%); // background
  --clr-neutral-200: hsl(180, 31%, 95%); // filter-tablets
  --clr-neutral-400: #7B8E8EFF;
  --clr-neutral-700: #2C3A3AFF;
  --clr-gray-200: #7C8F8F;
  --clr-gray-100: #B7C4C4;
  --clr-black-100: #2B3939;


  --fs: 15rem;

  --ff: 'Spartan', sans-serif;
}